{% extends "base.html" %}

{% block content %}

{% for page in pages %}
{% if page.relative_source_path == 'pages/about.md' %}

<section>
<h1>{{ page_name|capitalize }}</h1>
</section>

{% for article in articles_page.object_list %}
{% if article.category == 'Blog' %}
<section>
  <!-- Title -->
  <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title }}">{{ article.title }}</a></h2>

  <!-- Image -->
  {% if article.image %}
    <p>
      <span class="marginnote">
        <img src="{{ article.image }}" alt="{{ article.title|striptags }}">
      </span>
    </p>
  {% endif %}

  <p class="text-small">
    {% for author in article.authors %}
      <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
      {% if not loop.last %}<span class="nav-sep">, </span>{% endif %}
    {% endfor %}
    <span class="nav-sep">&#x2022;</span>
    <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time> 
    {% if article.modified %}
     (updated <time datetime="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</time> )
    {% endif %}
  </p>
  
  <p>{{ article.summary }}</p>
</section>
{% endif %}
{% endfor %}

{% endif %}
{% endfor %}

{% endblock content %}

