{% extends "base.html" %}

{% block title %}
{{ SITENAME }} - {{ page.title }}
{% endblock %}


{% block content %}

<section>
  <h1>{{ page.title }}</h1>
</section>

<section>
  <p>
    {% if page.image %}
    {% if page.save_as == 'index.html' %}
    <span class="marginnote">
      <img src="{{ page.image }}" alt="{{ page.title }}">
    </span>
    {% endif %}
    {% endif %}
    
    {{ page.content }}
</p>
</section>


{% if page.save_as == 'index.html' %}
<div class="columns">
  <section>
    <h2>Find me in:</h2>
    <p>
      <ul>
        {% for name, link in SOCIAL %}
        <li><a href="{{ link }}">{{ name }}</a></li>
        {% endfor %}
      </ul>
  </p>
  </section>
  
  <section>
    <h2>Links:</h2>
    <p>
      <ul>
        {% for name, link in LINKS %}
        <li><a href="{{ link }}">{{ name }}</a></li>
        {% endfor %}
      </ul>
  </p>
  </section>
</div>
{% endif %}



{% endblock %}
